[submodule "deps/mdnsd"]
	path = deps/mdnsd
	url = https://github.com/Pro/mdnsd.git
[submodule "deps/ua-nodeset"]
	path = deps/ua-nodeset
	url = https://github.com/OPCFoundation/UA-Nodeset
	branch = v1.04
[submodule "deps/abstractfuzztest"]
	path = deps/abstractfuzztest
	url = git@github.com:mlgiraud/abstractfuzztest.git
